body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
nav a {
  line-height: 1.5;
}
address .link {
  line-height: 1.5;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  text-decoration: none;
  text-transform: lowercase;
}
address {
  font-style: normal;
}
address .link:hover,
address .link:focus {
  color: #404bbf;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  line-height: 1.17;
}
.header-logo span {
  color: #2e2f42;
}
header a {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
header .link:hover,
header .link:focus {
  color: #404bbf;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
ul,
ol {
  list-style-type: none;
}
.section-one {
  background: #2e2f42;
}
.section-one .section-one-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}
.section-one .section-one-button:hover,
.section-one .section-one-button:focus {
  color: #404bbf;
  background-color: #404bbf;
}
.logo-web {
  color: #4d5ae5; /* Цвет для "Web" */
}
.section-two p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-three {
  background: #f4f4fd;
}
.section-three h3 {
  text-align: center;
}
.section-three p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.section-four p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
footer {
  background: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.footer-logo span {
  color: #f4f4fd;
}
footer .text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #f4f4fd;
}
.second-title {
  line-height: 1.2;
}
.text {
  line-height: 1.5;
}
.section-four-title {
  line-height: 1.11;
}
.section-two-title {
  line-height: 1.2;
}
.third-title {
  line-height: 1.2;
}
.section-one-title {
  line-height: 1.07;
}
.section-three-title {
  line-height: 1.11;
}
.team {
  background-color: #ffffff;
}
